* {
    margin: 0;
    padding: 0;
    /* border: 1px dotted yellowgreen; */
}
body {
    width: 850px;
    margin: 0 auto;
}
#container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
#container img {
    width: 200px;
}
#reset button {
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}